body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2 {
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
main {
    max-width: 90%;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin: 20px auto;
}
footer {
    text-align: center;
    margin: 20px auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}