body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(226, 255, 221, 0.4);
}
header {
    margin-top: 80px;
}
h1, h2 {
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 35px;
    margin: 0 auto;
}
main {
    width: 50%;
    margin: 0 auto;
}
section {
    
    background-color: white;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgba(173, 173, 173, 0.5);
    padding-bottom: 15px;
}
.hidden {
    display: none;
}
.form-container {
    width: 80%;
    margin: 0 auto;
}
.form-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.input-form {
    text-align: center;
    margin: 10px auto;
}
.word-input {
    padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    box-shadow: 5px 5px 5px rgba(173, 173, 173, 0.5);
    margin: 10px auto;
    width: 100%;
}
.word-input::placeholder {
    color: black;
    opacity: 0.5;
}
.word-input-button {
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    box-shadow: 5px 5px 5px rgba(173, 173, 173, 0.5);
    margin: 10px;
    cursor: pointer;
}
.word-input-button:hover {
    background-color: rgba(226, 255, 221, 0.2);
    
}
#example {
    font-size: 10px;
    opacity: 0.5;
    text-align: left;
    padding: 5px 15px;
}
.poem-output {
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    width: 30%;
}
.poem-text {
    padding: 10px;
}

footer {
    text-align: center;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    margin-top: 50px;
    
}
footer .grid {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(173, 173, 173, 0.5);
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 10px;
}
.footer-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.footer-links:hover {
    color: rgb(3, 80, 147);
}
footer h2 {
    font-size: 24px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media(max-width: 1200px) {
    h1 {
        font-size: 40px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .poem-output {
        width: 60%;
    }
    main, footer {
        width: 80%;
    }
}
@media(max-width: 800px) {
    .word-input::placeholder {
    font-size: 10px;
    }
    .word-input-button {
        font-size: 10px;
    }
    .form-grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .word-input-button {
        width: 25%;
    }
    .word-input {
        width: 90%;
    }
    footer h3 {
        font-size: 18px;
        margin: 5px auto;
    }
    footer p {
        font-size: 12px;
        margin: 5px;
    }
}